<script src="Scripts/bootstrap.js"></script>
<script src="Scripts/js.cookie.js"></script>
<script src="Scripts/jquery.slimscroll.js"></script>
<script src="Scripts/jquery.blockui.min.js"></script>
<script src="Scripts/jquery.uniform.js"></script>
<script src="Scripts/bootstrap-switch.min.js"></script>
<script src="Scripts/jquery.validate.js"></script>
<script src="Scripts/additional-methods.min.js"></script>
<script src="Scripts/app.min.js"></script>
<script src="Scripts/bootstrap-fileinput.js"></script>
<script src="Scripts/metronic.js"></script>
<script src="Scripts/layout.js"></script>
<script src="Scripts/quick-sidebar.js"></script>
<script type="text/javascript" src="Scripts/moment.js"></script>
<script src="Scripts/datatables.js"></script>
<script src="Scripts/buttons.flash.min.js"></script>
<script src="Scripts/buttons.html5.min.js"></script>
<!-- <script src="Scripts/jszip.min.js"></script> -->
<script src="Scripts/pdfmake.js"></script>
<script src="Scripts/date.js"></script>
<script src="Scripts/bootstrap-datetimepicker.js"></script>
<script src="Scripts/bootstrap-select.js"></script>
<script src="Scripts/jquery-confirm.js"></script>
<script src="Scripts/toastr.js"></script>
<script src="Scripts/daterangepicker.js"></script>
<script src="Scripts/tipped.js"></script>
<script src="Scripts/bootstrap-multiselect.js"></script>