<link href="Content/bootstrap.css" rel="stylesheet" />
<link href="Content/font-awesome.css" rel="stylesheet" />
<link href="Content/simple-line-icons.css" rel="stylesheet" />
<link href="Content/bootstrap-fileinput.css" rel="stylesheet" />
<link href="Content/uniform.default.css" rel="stylesheet" />
<link href="Content/bootstrap-switch.css" rel="stylesheet" />
<link href="Content/components.css" rel="stylesheet" />
<link href="Content/plugins.css" rel="stylesheet" />
<link href="Content/layout.css" rel="stylesheet" />
<link href="Content/datatables.bootstrap.css" rel="stylesheet" />
<link href="Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="Content/bootstrap-select.css" rel="stylesheet" />
<link href="Content/themes/darkblue.css" rel="stylesheet" />
<link href="Content/custom.css" rel="stylesheet" />
<link href="Content/jquery-confirm.css" rel="stylesheet" />
<link href="Content/tipped.css" rel="stylesheet" />
<link href="Content/toastr.css" rel="stylesheet" />
<link href="Content/daterangepicker.css" type="text/css" />
<link href="Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="Content/daterangepicker-bs3.css" rel="stylesheet" />