<div class="col-md-12">
	<h1 class="page-title"> Compliance Reporting
	</h1>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-info"></i>&nbsp; Manage your reports </li>
		</ul>
	</div>
</div>

<div class="col-md-12 ">

	<div class="row">

		<div class="col-md-6">
			<div class="portlet box blue" id="portlet">
				<div class="portlet-title">
					<div class="caption">
						Create a report
					</div>
					<i class="icon-pencil icon-pull-right"></i>
				</div>
				<div class="portlet-body" id="portlet-body">
					<div class="table">
						<table class="table">
							<tbody>
							<tr>
							<div>
								<td ><h2>Click to generate a new Origin Green complaince report </h2></td>
							</tr>
							<td style="padding:20px" class="">
								<!-- <input type="text" placeholder="File name" class="form-control"> -->
								<a href ="#!createReport">
								<img class="img-responsive" id="ratio_img" src="\Images\create_file.png" style="margin-top: 15px;">
							</a>
							</td>
						</tbody>
					</div>
					</div>
					<!-- <button type="button" class="btn btn-primary pull-right" style="width:100px; margin: 10px" ng-click="testMe()">Next</button> -->
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- <br> -->
	<div class="col-md-6">
		<div class="portlet box blue" id="portlet">
			<div class="portlet-title">
				<div class="caption">
					View/edit saved reports </div>
				<i class="fa fa-file-o  icon-pull-right"></i>
			</div>
			<div class="portlet-body" id="portlet-body">
				<!-- <h2>You have no saved reports</h2> -->
				<div class="table">
						<table class="table">
							<tbody>
							<tr>
							<div>
								<td ><h2>You have no saved reports </h2></td>
							</tr>
							<td style="padding:20px" class="">
								<!-- <input type="text" placeholder="File name" class="form-control">
								<a href ="#!createReport">
								<img class="img-responsive" id="ratio_img" src="\Images\create_file.png" style="margin-top: 15px;">
							</a> -->
							</td>
						</tbody>
					</div>
			</div>
		</div>
	</div>
</div>
</div>
