<!-- <head>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head> -->

<div class="col-md-12">
        <h1 class="page-title"> Compliance Reporting
        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-info"></i>&nbsp; Create a new Complaiance Report</li>
            </ul>
        </div>
    </div>

    
<h3>Coming soon</h3>
<form action="">
                <div class="form-group" ng-controller="createReportCtrl">
                    <label for="name"><h1>Title: {{abc}}</h1></label>
                    <input type="text" ng-model="abc" class="form-control" style="width:60%"id="name" 
                    placeholder="Enter Compliance Report title" name="name">
                </div>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>

<a href="#!complianceCtrl">
<button class="btn btn-info" id="back_btn" ng-click="">
        <span class="glyphicon glyphicon-triangle-left"></span>back</button>

        
</a>