<style>
.list-custom>li {
	list-style-type: none;
	padding: 10px 5px;
}

.list-custom>li:hover {
	background-color: #fbfbfb;
}

.list-custom>li>a {
	padding: 10px 5px;
}

.list-custom>li>a:hover {
	padding: 10px 5px;
	text-decoration: none;
}
</style>

<div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Out Patient Department</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Timeliness of Appointment
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Average Consultation Time
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Type of Appointment Booking
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Appointment Cancellation Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Visit Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Encounters- Top 10 Consultants
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Encounters- Bottom 10 Consultants
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Encounters Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Packages
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Bottom 10 Packages
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Packages Comparative
				</a></li>
			</ul>

			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Quality Indicators</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Time taken for Initial Assessment of Indoor and Emergency patients
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Time taken for Initial Assessment of Indoor and Emergency Patient Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Documentation of Nursing Care Plan
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Admissions with Adverse Drug Reactions
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Modification of Anesthesia plan
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Unplanned Ventilation following Anesthesia
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Unplanned Return to OT
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Rescheduling of Surgeries
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Patients receiving prophylactic antibiotic with in specified time frame
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Wastage of Blood and Blood Products
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Urinary Tract Infection rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Pneumonia Rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Blood stream infection rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Surgical site infection rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Return to ICU with 48 hours
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Return to Emergency department with 72 hours
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Stock outs
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Incidence of bed sores after admission
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						OT utilization rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						ICU equipment utilization rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Critical Equipment down time
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Nurse to patient ratio for ICUs and wards
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						No. of Hospital Acquired Infection patients
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Death on OT Table
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Readmission Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Readmission Analysis Comparative
				</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Admission Discharge Transfers</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Admission Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Admission Analysis Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Discharge Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Bed Occupancy Rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Bed Occupancy Rate Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Bed Availability Rate
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Accident and Emergency Analysis Non Clinical
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						OP Conversion Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						OP Conversion Analysis Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Patient Transfer Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Admission Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Admission Analysis Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Average Length of Stay
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Average Length of Stay Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Patient Satisfaction NABH
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Human Resource Planning NABH
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Death Statistics
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Death Statistics Comparative
				</a></li>
			</ul>

			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Billing and Finance</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Billing Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Revenue by Doctor
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Discount Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Wave off Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Cost & EBIT Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Cost Trend Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Surgery Charge Breakup
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						OT Surgery Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Inventory Consumption Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Radiology Order Amount
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Workflow Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Lab Test Analysis
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Blood Request and issues Analysis
				</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Service Ordering</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Number of services ordered by the Consultant
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Services ordered by the Consultant (Value wise)
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Consultants for Service Ordering
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Bottom 10 Consultants for Service Ordering
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Procedures Ordered by the Surgeon
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Number of Prescriptions Raised
				</a></li>
			</ul>

			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Pharmacy</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Product Category Wise Sales
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Product Category Wise Stock
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						User Wise Issues
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Users
				</a></li>
			</ul>

			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Laboratory</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Department wise number of Tests Performed
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Services Performed
				</a></li>
			</ul>
			
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Operation Theatre</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Surgeries in Hospital
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Top 10 Surgeons in Hospital
				</a></li>
			</ul>
			
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>Clinical</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Accident and Emergency Analysis Clinical
				</a></li>
			</ul>
			
			<ul class="mega-menu-submenu list-custom">
				<li>
					<h3>TAT Dashboards</h3>
				</li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Accident and Emergency TAT Comparative
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Accident and Emergency TAT
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Discharge TAT
				</a></li>
				<li><a href="javascript:;"> <i class="icon-bar-chart"></i>
						Discharge TAT Comparative
				</a></li>
			</ul>
		</div>
	</div>
</div>