<div class="col-md-12">
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li><i class="fa fa-table"></i> <a href="javascript:;">{{
					pageLevel1 }}</a> <i class="fa fa-angle-right"></i></li>
			<li><a href="javascript:;">{{ pageLevel2 }}</a> <i
				class="fa fa-angle-right"></i></li>
			<li><a href="javascript:;">{{ pageLevel3 }}</a></li>
		</ul>
		<div class="div-set-fav">
			<label>Set as Favourite</label> <i class="fa fa-star set-fav"></i>
		</div>
	</div>
</div>
<div class="col-md-12" style="background: #fff; margin-bottom: 10px">
	<ng-include src="filterTemplate"></ng-include>
</div>
<div class="col-md-12" style="background: #fff; margin-bottom: 10px">
	<div id="table1">
		<div class="row">
			<div class="col-md-12">
				<div align="right">
					<a class="button-pdf"><i class="fa fa-file-pdf-o"></i></a> <a
						class="button-excel"><i class="fa fa-file-excel-o"></i></a>
				</div>
				<div class="table-scrollable">
					<table class="table table-bordered table-drilldown"
						id="tabledrilldown">
						<thead>
							<tr>
								<th ng-repeat="head in table1_head" width="'{{head.Width}}'">{{head.Name}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in table1_rows">
								<td ng-repeat="column in table1_cols"
									align="{{colAlign1[0][column]}}">
									<div>
										<label>{{row[column]}}</label>
									</div>

								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<div class="dataTables_info" id="sample_3_info" role="status"
					aria-live="polite">Showing 1 to 10 of 35 entries</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers">
					<ul class="pagination">
						<li class="paginate_button previous disabled"
							aria-controls="sample_3" tabindex="0"><a href="#"><i
								class="fa fa-angle-left"></i></a></li>
						<li class="paginate_button active" aria-controls="sample_3"
							tabindex="0"><a href="#">1</a></li>
						<li class="paginate_button " aria-controls="sample_3" tabindex="0"><a
							href="#">2</a></li>
						<li class="paginate_button " aria-controls="sample_3" tabindex="0"><a
							href="#">3</a></li>
						<li class="paginate_button next" aria-controls="sample_3"
							tabindex="0"><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var start = moment().subtract(29, 'days');
	var end = moment();
	$('input[name="daterange"]').daterangepicker({
		startDate : start,
		endDate : end,
		ranges : {
			'Today' : [ moment(), moment() ],
			'Last 3 Months' : [ moment().subtract(3, 'months'), moment() ],
			'Last 6 Months' : [ moment().subtract(6, 'months'), moment() ],
			'Last 9 Months' : [ moment().subtract(9, 'months'), moment() ],
			'Last 12 Months' : [ moment().subtract(12, 'months'), moment() ],
		},
		locale : {
			format : 'DD MMM YYYY'
		}
	});
</script>
<script type="text/javascript">
	$('.set-fav').click(function() {
		$(this).addClass('active');
		$(this).closest('.div-set-fav').find('label').html('Favourite');
	});
</script>