<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" ng-click="tabname = tabl1">Home</a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="tabname = tabl2">Menu 1</a>
            </li>
            <li>
                <a data-toggle="tab" ng-click="tabname = tabl3">Menu 2</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade" ng-show="tabname == tab1">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
            </div>
            <div id="menu1" class="tab-pane fade" ng-show="tabname == tab2">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade" ng-show="tabname == tab3">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam.</p>
            </div>
        </div>
    </div>
</div>