
/* Custom CSS crated by Harsh*/


#p1 {
    border: 1px solid #B22222;
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    }

    /* div {
        border: 1px solid #B22222;
        border-radius: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        } */

     #test
        {   padding: 10px 20px;
            
        border-style: solid;
        border-width: 0 1px 1px;
        border-color: #dde6e9;
        text-shadow: 0 0 black;
    }