
/* Custom CSS crated by Harsh*/


#p1 {
    border: 1px solid #B22222;
    border-radius: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    }

    /* div {
        border: 1px solid #B22222;
        border-radius: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        } */